.form-control{
    display: flex;
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    color: #555;
    font-size: 14px;
    height: 40px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    height: 10%;

}
.btn{
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    color: #555;
    font-size: 14px;
    height: 40px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    height: 10%;
}
/* botones como bootstrap */
.btn-primary{
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}
.btn-success{
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}
.btn-info{
    background-color: #5bc0de;
    border-color: #46b8da;
    color: #fff;
}
.btn-warning{
    background-color: #f0ad4e;
    border-color: #eea236;
    color: #fff;
}
.btn-danger{
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
}
.btn-link{
    background-color: transparent;
    border-color: transparent;
    color: #337ab7;
}
/* botones como bootstrap */
.btn-primary:hover{
    background-color: #286090;
    border-color: #204d74;
    color: #fff;
}
.btn-success:hover{
    background-color: #449d44;
    border-color: #398439;
    color: #fff;
}
.btn-info:hover{
    background-color: #31b0d5;
    border-color: #269abc;
    color: #fff;
}
.btn-warning:hover{
    background-color: #ec971f;
    border-color: #d58512;
    color: #fff;
}
.btn-danger:hover{
    background-color: #c9302c;
    border-color: #ac2925;
    color: #fff;
}
.btn-link:hover{
    background-color: transparent;
    border-color: transparent;
    color: #23527c;
}
/* botones como bootstrap */
.btn-primary:active{
    background-color: #286090;
    border-color: #204d74;
    color: #fff;
}
.btn-success:active{
    background-color: #449d44;
    border-color: #398439;
    color: #fff;
}
.btn-info:active{
    background-color: #31b0d5;
    border-color: #269abc;
    color: #fff;
}
.btn-warning:active{
    background-color: #ec971f;
    border-color: #d58512;
    color: #fff;
}

.btn-danger:active{
    background-color: #c9302c;
    border-color: #ac2925;
    color: #fff;
}
.btn-link:active{
    background-color: transparent;
    border-color: transparent;
    color: #23527c;
}
/* botones como bootstrap */
.btn-primary:focus{
    background-color: #286090;
    border-color: #204d74;
    color: #fff;
}
.btn-success:focus{
    background-color: #449d44;
    border-color: #398439;
    color: #fff;
}
.btn-info:focus{
    background-color: #31b0d5;
    border-color: #269abc;
    color: #fff;
}
.btn-warning:focus{
    background-color: #ec971f;
    border-color: #d58512;
    color: #fff;
}
.btn-danger:focus{
    background-color: #c9302c;
    border-color: #ac2925;
    color: #fff;
}
.btn-link:focus{
    background-color: transparent;
    border-color: transparent;
    color: #23527c;
}
/* botones como bootstrap */
.btn-primary:disabled{
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}
.btn-success:disabled{
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}
.btn-info:disabled{
    background-color: #5bc0de;
    border-color: #46b8da;
    color: #fff;
}
.btn-warning:disabled{
    background-color: #f0ad4e;
    border-color: #eea236;
    color: #fff;
}
.btn-danger:disabled{
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
}
.btn-link:disabled{
    background-color: transparent;
    border-color: transparent;
    color: #337ab7;
}
/* botones como bootstrap */
.btn-primary:disabled:hover{
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}
.btn-success:disabled:hover{
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}
.btn-info:disabled:hover{
    background-color: #5bc0de;
    border-color: #46b8da;
    color: #fff;
}
.btn-warning:disabled:hover{
    background-color: #f0ad4e;
    border-color: #eea236;
    color: #fff;
}
.btn-danger:disabled:hover{
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
}
.btn-link:disabled:hover{
    background-color: transparent;
    border-color: transparent;
    color: #337ab7;
}
/* botones como bootstrap */
.btn-primary:disabled:active{
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}
.btn-success:disabled:active{
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}
.btn-info:disabled:active{
    background-color: #5bc0de;
    border-color: #46b8da;
    color: #fff;
}
.btn-warning:disabled:active{
    background-color: #f0ad4e;
    border-color: #eea236;
    color: #fff;
}
.btn-danger:disabled:active{
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
}
.btn-link:disabled:active{
    background-color: transparent;
    border-color: transparent;
    color: #337ab7;
}
/* botones como bootstrap */
.btn-primary:disabled:focus{
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}
.btn-success:disabled:focus{
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}
.btn-info:disabled:focus{
    background-color: #5bc0de;
    border-color: #46b8da;
    color: #fff;
}
.btn-warning:disabled:focus{
    background-color: #f0ad4e;
    border-color: #eea236;
    color: #fff;
}
.btn-danger:disabled:focus{
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
}
.btn-link:disabled:focus{
    background-color: transparent;
    border-color: transparent;
    color: #337ab7;
}
/* botones como bootstrap */
.btn-primary:disabled:hover{
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}
.btn-success:disabled:hover{
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}
.btn-info:disabled:hover{
    background-color: #5bc0de;
    border-color: #46b8da;
    color: #fff;
}
.btn-warning:disabled:hover{
    background-color: #f0ad4e;
    border-color: #eea236;
    color: #fff;
}
.btn-danger:disabled:hover{
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
}
.btn-link:disabled:hover{
    background-color: transparent;
    border-color: transparent;
    color: #337ab7;
}
/* botones como bootstrap */
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
