*{
    overflow: auto;
}
/* el fondo hazlo un fundido entre salmon y blanco */
.bg-red{
    background-image: linear-gradient(90deg, #ec4f5e 0%, #ff7280 74%);
}

/* board debe estar en el centro de la pantalla tanto vertical como horizontal */
.board{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 400px;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.title{
    text-align: center;
    color: black;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text{
    
    width: 100%;
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    outline: none;
}
form{
    width: 100%;

}
.btn{
    width: 100%;
    padding: 0.5rem;
    font-size: large;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    outline: none;
    background-color: #ec4f5e;
    color: white;
    border: none;
    cursor: pointer;
}
.btn-danger{
    background-color: #e92034;
    color: white;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background-color: #e92034;
}
.btn-danger:hover{
    background-color: #ec4f5e;
}
.btn-secondary{
    background-color: #707070;
    color: white;
    border: none;
    cursor: pointer;
}   
.btn-secondary:hover{
    background-color: #4d4d4d;
}
.form-control{

    width: 95%;
    padding: 0.5rem;
    font-size: large;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    outline: none;
}


/* Ahora version Responsive de todo */
@media screen and (max-width: 768px){
    .board{
        
        width: 60%;
        height: 60%;
    }
    .title{
        font-size: 1.5rem;
    }
    .text{
        font-size: 1rem;
    }
    .btn{
        font-size: 1rem;
    }
    .form-control{
        font-size: 1rem;
        width: 90%;
    }

}

/* Path: assets\css\index.css */